/* CSS BY ---Jaelynn Shurley--- */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

:root {
    font-family: Kavoon, sans-serif;
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink: #D9526F;
    --Dark-gray: #1E1E1E; 
    --White: #FFFFFF; 
}

html{
    background-color: var(--Purple);
}

header {
    background-color: var(--Lavender);
    color: var(--White);
}
header p {
    background-color: var(--Pink);
    font-family: Inter, sans-serif;
    text-align: center;
}

h1 {
    font-size: 3em;
    text-align: center;
}

nav a {
    padding: 1rem;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    list-style-type: none;
    background-color: var(--Yellow);
    color: var(--Dark-gray);
}

nav ul{
	/* make flex, gap of 1rem */
	display: flex;
	list-style-type: none;
}

nav li {
    list-style-type: none;
    margin-right: 1rem;
    gap: 0.5rem;
}

nav h2 {
    visibility:hidden;
    height:1px;
    font-size: 1.5em;
}
