/* CSS BY ---Jaelynn Shurley--- */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS REST */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    font-family: Kavoon, sans-serif;
    --Teal: #4CA7C0;
    --Purple: #484FB7;
    --Lavender: #6B8FE7;
    --Yellow: #E9BB57; 
    --Pink: #D9526F;
    --Dark-gray: #1E1E1E; 
    --White: #FFFFFF; 
}

/* GLOBAL STYLES (mobile first/small) */
html{
    background-color: var(--Purple);
}

header {
    color: var(--White);
    background-color: var(--Lavender);
    text-align: center;
    margin: 0 auto;
    border-radius: 0 0 40px 40px;
    width: 450px;
}
header p {
    background-color: var(--Pink);
    font-size: 1em;
    border-radius: 0 0 30px 30px;
    margin: 1em auto;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0 0 1rem 0;
    font-family: Kavoon, arial;
}

nav h2 {
    visibility:hidden;
    font-size: 1.5em;
    margin: 0;
}

nav ul{
    top: 0;
    right: 0;
    position: fixed;
    padding: 0.5rem;
    margin: 0;
    background: var(--Yellow);
    border-radius: 0 0 15px 15px;
	list-style-type: none;
}

nav a {
    padding: 0 1rem;
    text-decoration: none;
    color: var(--Dark-gray);
    font-family: Inter, sans-serif;
    font-weight: bold;
}

nav a:hover {
    color: var(--White); 
}

main {
    width: 450px;
    margin: 0 auto;
    font-family: Inter, sans-serif;
}

h2 {
    color: var(--White);
    font-size: 2em;
    margin: 0 auto;
    font-family: Kavoon, arial;
}

h3 {
    margin: 0.5em auto;
    color: var(--Yellow);
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    color: var(--Purple);
    font-size: 1.15em;
    font-weight: bold;
    margin: 0.5em auto;
}

p {
    font-family: Inter, sans-serif;
    font-size: 1.15em;
    font-weight: 300;
}

.box {
    background-color: var(--White);
    border-radius: 15px;
    padding: 1em;
    margin: 0 auto 1em auto;
}

.box p{
    margin: 0;
}

#Why-Us {
    background-color: var(--Pink);
}

#Why-Us h2 {
    padding: 0.5em;
}

#Why-Us ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0.2em;
    margin: 0 auto;
}

#Why-Us li {
    flex: 2;
    margin: 0.5rem;
    padding: 2em;
    border-radius: 15px;
    background-color: red;
    list-style-type: none;
    font-weight: bold;
}

#Pricing h2 {
    margin: 0.5em auto;
}

table, th, td {
    border: 2px solid var(--Yellow);
    border-collapse: collapse;
}

table {
    margin: 0.5em auto;
    width: 300px;

}

th {
    background-color: var(--Yellow);
    padding: 0.5em;
}

td {
    background-color: var(--White);
    padding: 0.5em;
}

#First-Step {
    background-color: var(--Pink);
    color: var(--White);
    padding: 1em;
    text-align: center;
}

#First-Step p {
    font-size: 1em;
    margin: 1em auto;
    text-align: left;
}

#First-Step h2 {
    text-align: left;
}

button {
    background-color: var(--White);
    color: var(--Dark-gray);
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black;
    width: 60%;
    padding: 1em 2em;
}

footer {
    background-color: var(--Lavender);
    color: var(--White);
    font-family: Inter, sans-serif;
    border-radius: 0 0 15px 15px;
    text-align: center;
    width: 450px;
    padding: 2em 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

footer a {
    color: var(--White);
}